*{
    padding: 0; margin: 0; box-sizing: border-box;
}
body{
    background-color: azure;
    
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.calculator{
    
    display: grid;
    grid-template-columns: repeat(4, 70px );
    padding: 15px;
    gap: 10px;
    background-color: black;
    box-shadow: inset 5px 5px 10px white,
                      5px 5px 12px rgba(0, 0, 0, .16);   
    border-radius: 20px;
}
button{
    font-size: 20px;
   padding: 15px;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   box-shadow:
               inset 5px 5px 14px rgba(0, 0, 0, .3);
   background-color: white;
<<<<<<< HEAD
  
   -webkit-tap-highlight-color: transparent;
=======
    -webkit-tap-highlight-color: transparent;
>>>>>>> de7f5a3e3b17482c7e9bb04c92dad892c08c4943
}
#caldiv{
    grid-column: span 4;
    height: 80px;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    margin-bottom: 20px ;
    padding: 10px;
    box-shadow: inset 5px 5px 12px rgba(0, 0, 0, .16) ;
    outline: none;
}
.clear{
    grid-column: span 2;
 
}
.clear:hover{
    background-color: rgb(247, 247, 22);
}
.delete:hover {
    background-color: rgb(230, 22, 22);
}
.eq{
    grid-column: span 2;
}
.eq:hover{
background-color: lightseagreen;
}
.func:hover{
    background-color: greenyellow;
}
<<<<<<< HEAD
.sapa{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
    background-image: linear-gradient(to right, green, yellow, brown, red) ;
    width: fit-content;
    padding: 0 10px 0 10px;
    border-radius: 10px;
}
=======
>>>>>>> de7f5a3e3b17482c7e9bb04c92dad892c08c4943
